@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #40c9eb65;
}

.coteudo-principal {
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 400px;
    background-color: #35a8c513;
    border-radius: 15px;
    box-shadow: 5px 5px 50px #40c9eb65;
}

.titulo-principal {
    font-family: 'Arial Narrow Bold', sans-serif;
}

.eu {
    font-family: 'Courier New', Courier, monospace;    
}

.minhas-info {
    margin: auto;
    font-size: 16px;
    padding: 30px;
}

.fale-comigo {
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

p {
    font-family: Apple Chancery, cursive;    
}

.rede-social {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    box-shadow: 2px 2px 2px #40c9eb65;
    margin: auto;
    border-radius: 30px;
    width: 150px;
    padding: 10px;    
    margin-right: 1%;
}