@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

caption{
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
}

table{
    width: 500px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: darkgray;
}

.alinhar{
    text-align: left;
}

.incolor{
    background-color: white;
}

.media{
    background-color: darkgrey;
    font-weight: bold;
}