@charset "UTF-8";

body {
    background-color: powderblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    color: crimson;
    background-color: bisque;
}

h2 {
    color: deeppink;
}

p {
    text-align: justify;
}